.container {
	max-width: 390px;
}

.inner {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 180px 180px 180px;
	margin-top: 10px;
}

.img {
	width: 75px;
	height: 75px;
	object-fit: cover;
}

.item {
	text-align: center;
}

.btn {
	display: inline-block;
	font-size: 10px;
	padding: 8px 30px;
	border: none;
	border-radius: 5px;
	background: rgb(248, 168, 24);
	color: #fff;
	text-transform: uppercase;
	font-weight: 700;

	transition: background .2s linear;
}

.btn:hover {
	background: lightgreen;
}

.usercard {
	text-align: center;
}


.underline-txt {
	font-size: 12px;
	font-weight: 600;
	margin: 10px auto;
	width: 100px;
	height: 30px;
	overflow: hidden;
}